body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  color: rgb(0, 0, 0);
  background-color: rgb(202, 178, 171);
  margin: 30px;
}
h1 {
  color: black;
  font-style: oblique;
}

a {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: green;
}
a:active {
  color: red;
}
.my-list {
  color: rgb(4, 164, 4);
  border: 2px black solid;
  margin: 10px;
  margin-right: 950px;
  
}
